<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe View</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="pure-g">
    <div class="side-bar pure-u-1-8">
        <div class="pure-menu">
            <span class="pure-menu-heading company-logo">Shoe Views</span>
            <ul class="pure-menu-list btn-holder">
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link btn">Homepage</a>
                </li>
                {{#if loggedIn}}
                <li class="pure-menu-item">
                    <a href="/logout" class="pure-menu-link btn logout">Logout</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/dashboard/create" class="pure-menu-link btn">Create Post</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/dashboard" class="pure-menu-link btn">View My Posts</a>
                </li>
                {{else}}
                <li class="pure-menu-item">
                    <a href="/login" class="pure-menu-link btn">Login</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/signup" class="pure-menu-link btn">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
      </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-8"></div>
    <main class="pure-u-7-8">
      {{{ body }}}
    </main>
  </div>
    
    






     <footer class="test">
    <p>
      <strong>Shoe Views</strong> by <a href="https://github.com/MichelleHirano/shoes-projecttwo2021.git">Adam, Gio, and Michelle</a> 
    </p>
    </footer>
  
  

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>