<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe View</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="pure-g">
         <div class="pure-u-1-8"></div>
            <h1>
            <a href="/">Shoe View</a>
            </h1>

    </header>

      <nav class="pure-g side-bar pure-u-1-8">
           <div class="pure-menu ">
           <span class="pure-menu-heading company-logo">Company Logo</span>

           <ul class="pure-menu-list pure-menu-item  btn-holder">
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="pure-menu-link btn">logout</button>
                {{else}}
                <a href="/login" class="pure-menu-link btn">login</a>
                {{/if}}

                 <a href="/dashboard" class="pure-menu-link btn">Create Post</a>
                 <a href="/dashboard" class="pure-menu-link btn">View My Posts</a>
          </ul>
    
            </div>

        </nav>
    

    <main >
      {{{ body }}}
    </main>





     <footer >
            <p>
            <a href="/">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/">dashboard</a> | 
            <a href="/dashboard/create/">create new post</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
    <p>
      <strong>Shoe Views</strong> by <a href="https://github.com/MichelleHirano/shoes-projecttwo2021.git">Adam, Gio, and Michelle</a> | source code:
      <a href="https://github.com/MichelleHirano/shoes-projecttwo2021.git"></a> 
    </p>
    </footer>
  
  

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>