<!-- displaying articles -->
{{> post-info post}}
<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<div class="pure-g background-black">
  <div class="pure-u-1-8"></div>
  <div class="pure-u-7-8">
      <form class="comment-form">
          <div>
              <textarea name="comment-body" class="comment-textarea"></textarea>
          </div>
          <div>
            <button class="button pure-button pure-button-primary create-btn" type="submit">add comment</button>
          </div>
      </form>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}