body {
    background-color: black;
}

footer {
    text-align: center;
    border-top: rgb(0, 255, 234) 1px solid;
}

.github-link {
    color: rgb(0, 255, 234);
}

.github-link:hover {
    color: white;
}

.btn-holder {
    text-align: center;
    margin-top: 80px;
}

.logo-image {
    height: 100px;
}

.company-title {
    color: rgb(0, 255, 234);
    font-size: 20px;
}

.btn {
    background-color: rgb(0, 255, 234);
    height: 35px;
    color: black;
    padding-bottom: 0;
    padding-top: 15px;
    margin-top: 10px;
}

.btn:hover {
    background-color: lightblue;
}

.filter-bar {
    color: white;
    background-color: black;
    height: 100%;
    margin-top: 0;
    text-align: center;
    border-bottom: rgb(0, 255, 234) 1px solid;
}

.side-bar {
    background-color: black;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    color: black;
    border-right: rgb(0, 255, 234) solid 1px;
}

.blog-content {
    background-color: black;
}

.post-holder {
    background-color: rgb(0, 255, 234);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
}

.shoe-name {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.user-holder {
    margin-top: 16px;
}

.twitter-holder {
    margin-top: 16px;
}

.twitter-text {
    color: blue;
    text-decoration: none;
}

.user-text {
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
    color: black;
}

.img {
    padding-top: 0;
    margin-top: 0;
    height: 400px;
    width: 90%;
    margin-top: 10px;
    border: black 1px solid;
}

.post-date {
    text-align: center;
    margin-top: 16px;
}

.post-description {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.description-holder {
    width: 100%;
    border-bottom: black solid 1px;
}

.show-comments-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.show-comments-text {
    text-decoration: none;
    color: black;
}

.comment-section {
    text-align: left;
    width: 90%;
}

.logo-placeholder {
    color: black;
}

.single-comment-holder {
    border-bottom: black solid 1px;
}

.comment-user {
    border-right: black;
}

.comment-date {
    font-size: 12px;
}

.hide {
    display: none;
}

.test {
    text-align: right;
}

.background-black {
    background-color: black;
}

.page-title {
    color: rgb(0, 255, 234);
    background-color: black;
    text-align: center;
    border-bottom: rgb(0, 255, 234) 1px solid;
    font-size: 26px;
    padding-bottom: 30px;
}

.text-color {
    color: rgb(0, 255, 234);
}

.pure-form {
    padding-left: 30px;
}

.no-post-text {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.create-btn {
    background-color: green;
}

.edit-btn {
    background-color: white;
    color: black;
}

.comment-form {
    background-color: rgb(0, 255, 234);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    padding: 10px;
    border-bottom: black 1px solid;
}

.comment-textarea {
    width: 99%;
    height: 100px;
}

.edit-holder {
    text-align: right;
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

.save-post-btn {
    background-color: green;
    color: white;
}

.delete-post-btn {
    background-color: red;
    color: black;
}