.btn-holder {
    text-align: center;
    margin-top: 80px;
}

.logo-image {
    height: 100px;
}

.company-title {
    color: rgb(0, 255, 234);
    font-size: 20px;
}

.btn {
    background-color: rgb(0, 255, 234);
    height: 35px;
    color: black;
    padding-bottom: 0;
    margin-top: 10px;
}

.btn:hover {
    background-color: lightblue;
}

.filter-bar {
    color: white;
    background-color: black;
    height: 100%;
    margin-top: 0;
    text-align: center;
    border-bottom: rgb(0, 255, 234) 1px solid;
}

.side-bar {
    background-color: black;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    color: black;
    border-right: rgb(0, 255, 234) solid 1px;
}

.blog-content {
    background-color: black;
}

.post-holder {
    background-color: rgb(0, 255, 234);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
}

.shoe-name {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.user-holder {
    margin-top: 16px;
}

.user-text {
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
    color: blue;
}

.user-text:hover {
    color: darkblue;
}

.img {
    padding-top: 0;
    margin-top: 0;
    height: 400px;
    width: 90%;
    margin-top: 10px;
    border: black 1px solid;
}

.post-date {
    text-align: center;
    margin-top: 16px;
}

.post-upvote {
    text-align: left;
    margin-top: 16px;
    color: black;
    text-decoration: none;
    width: 16px;
    height: 16px;
}

.post-upvote:hover {
    color: red;
}

.post-upvote:active {
    color: red;
}

.upvote-count {
    text-align: right;
    margin-top: 16px;
}

.post-description {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.description-holder {
    width: 100%;
    border-bottom: black solid 1px;
}

.comment-section {
    text-align: left;
    width: 90%;
}

.logo-placeholder {
    color: black;
}

.single-comment-holder {
    border-bottom: black solid 1px;
}

.comment-user {
    border-right: black;
}

.comment-date {
    font-size: 12px;
}

.hide {
    display: none;
}

.test {
    text-align: right;
}